/* Home Page */

body, h1, p, label, input, button, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(135deg, #082032, #25303f);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

#error-message {
    color: #ff0000;
    background-color: #ffe6e6;
    padding: 10px;
    margin: 10px 0;
    border: 3px solid #ff0000;
    border-radius: 5px;
    display: none;
    max-width: 400px;
}

#success-message {
    color: #1ead02;
    background-color: #e6ffe8;
    padding: 10px;
    margin: 10px 0;
    border: 3px solid #1ead02;
    border-radius: 5px;
    display: none;
    max-width: 400px;
}

#intro {
    text-align: center;
    padding: 20px;
    padding-bottom: 15px;
    padding-top: 25px;
    background-color: #FF4C29;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#intro > img {
    height: 41px;
}

#container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    flex: 5;
    flex-direction: row;
    overflow-y: auto;
    max-height: calc(100vh - 198px);
}

#description-box {
    max-width: 400px;
    padding: 20px;
    margin: 20px;
    color: white;
    font-size: large;
    float: left;
}

#description-box > h2 {
    color: #FF4C29;
}

.arrow {
    border: solid #FF4C29;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-margin {
    margin-right: 10px;
}

#csv-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px; 
}

.input {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
    flex: 1;
    max-width: 400px;
}

.input:hover {
    background-color: #e3e3e3;
}

.input label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #FF4C29;
}

.input input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.input input[type="file"]:focus {
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
}

#submit-button {
    background-color: #FF4C29;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

#submit-button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(2px);
}

#submit-button:active {
    background-color: #c93d21;
}

.hidden {
    display: none;
}

.input-container label[for="hasHeaders"] {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #FF4C29;
}

.input-container input[type="checkbox"]#hasHeaders {
    margin-left: 10px;
    transform: scale(1.2);
    vertical-align: middle;
}

#customHeaderContainer {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

#customHeaderContainer:hover {
    background-color: #e3e3e3;
}

#customHeaderContainer label[for="customHeaders"] {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #FF4C29;
}

.first-row-showcase {
    color: #555;
    font-weight: bold;
    font-size: 0.9em;
}

#csvExample {
    display: block;
    font-family: monospace;
    margin-top: 5px;
    color: #333;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

#customHeaders {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

#customHeaders:focus {
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
    outline: none;
    border-color: #FF4C29;
}


/* Scrollbar Styles */

#container::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

#container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Sidebar */
#app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
}

#sidebar {
    width: 250px;
    min-width: 250px;
    background-color: #082032;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.sidebar-header {
    text-align: center;
    margin: 20px 0px;
}

.sidebar-header h2 {
    color: #FF4C29;
    font-size: 24px;
    margin: 0;
}

.sidebar-header img {
    width: 15rem;
    margin: 0;
    margin-top: 10px;
}

.sidebar-tab {
    display: block;
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    background-color: #082032;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
    font-weight: 500;
}

.sidebar-tab:hover {
    background-color: #25303f;
    transform: translateX(5px);
}

.hovered {
    background-color: #25303f;
}


/* Sidebar Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

#plot-container img {
    animation: fadeIn 0.5s ease-in-out;
}

.sidebar-tab {
    animation: slideIn 0.5s ease forwards;
    opacity: 0;
}

.sidebar-tab:nth-child(1) {
    animation-delay: 0.1s;
}

.sidebar-tab:nth-child(2) {
    animation-delay: 0.2s;
}

.sidebar-tab:nth-child(3) {
    animation-delay: 0.3s;
}


/* Chat Area */
#chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #25303f;
}

#chat-header {
    text-align: left;
    padding-left: 20px;
    color: white;
    background-color: #FF4C29;
}

#chat-messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 248px);
    overflow-y: scroll;
    margin: 20px;
    margin-right: 0px;
    padding-right: 20px;
}

#chat-input-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

#chat-input {
    flex: 1;
    padding: 10px;
    border: 3px solid #334756;
    background-color: #25303f;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

#send-button {
    background-color: #FF4C29;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

#send-button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(2px);
}

#send-button:active {
    background-color: #c93d21;
}

.chat-message {
    margin-bottom: 15px;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.user-message {
    background-color: #FF4C29;
    color: white;
    align-self: flex-end;
    text-align: right;
    border-radius:  10px 10px 0px 10px;
    max-width: 45%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    flex-shrink: 1;
}


.response-message {
    background-color: #334756;
    color: white;
    align-self: flex-start;
    text-align: left;
    border-radius:  10px 10px 10px 0px;
    max-width: 45%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    flex-shrink: 1;
    
}

#chat-input-container input::placeholder {
    font-size: 16px;
}

#chat-input-container input:focus {
    outline: none;
    border-color: #FF4C29;
}

/* Scrollbar Styles */

#chat-messages::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#chat-messages::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

#chat-messages::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Database Area */
#database-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #25303f;
    color: white;
}

#database-header {
    text-align: left;
    padding-left: 20px;
    color: white;
    background: #FF4C29;
}

#database-name-container > p{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

#database-name-container > p > span{
    font-weight: bold;
}

/* Database Table Format */
#databaseTable {
    max-height: calc(100vh - 285px);
    max-width: calc(100vw - 320px);
    overflow: scroll;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}

#databaseTable table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

#databaseTable th, #databaseTable td {
    border: 2px solid #25303f;
    padding: 8px;
}

#databaseTable th {
    background-color: #FF4C29;
    color: white;
    text-align: left;
}

#databaseTable tr:nth-child(even) {
    background-color: #2C394B;
}

#databaseTable tr:hover {
    background-color: #4b322c;
}

#databaseTable td {
    text-align: left;
    white-space: nowrap;
}

/* Scrollbar styles */
#databaseTable::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#databaseTable::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

#databaseTable::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Database Pagination */
#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0;
}

#pagination a {
    margin: 0 10px;
    padding: 10px 15px;
    width: 75px;
    text-align: center;
    text-decoration: none;
    color: #FF4C29;
    border: 2px solid #FF4C29;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#pagination a:hover {
    background-color: #FF4C29;
    color: white;
}

#pagination a:active {
    background-color: #c93d21;
    border: 2px solid #c93d21;
}

#pagination span {
    margin: 0 10px;
    padding: 10px 10px;
    padding-left: 0px;
    color: white;
}

#pagination form {
    margin-right: 10px;
}

#pageForm {
    display: inline-flex;
    align-items: center;
}

#pageInput {
    width: 50px;
    padding: 5px;
    border: 3px solid #334756;
    background-color: #334756;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

#pageInput:focus {
    outline: none;
    border-color: #FF4C29;
}

#pageForm button {
    background-color: #FF4C29;
    width: 50px;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

#pageForm button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(2px);
}

#pageForm button:active {
    background-color: #c93d21;
}


/*  Plot Page   */
#plot-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #25303f;
}

#plot-header {
    text-align: left;
    padding-left: 20px;
    color: white;
    background: #FF4C29;
}

#plot-body {
    height: calc(100vh - 190px);
    overflow-y: scroll;
    margin: 20px;
    margin-right: 0px;
    padding-right: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: calc(50% + 20px);
}
.form-group {
    flex: 1;
    margin-right: 20px;
}

#plot-form label {
    display: block;
    margin-bottom: 10px;
    color: white;
}

#plot-form select, #plot-form input[type="text"] {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 3px solid #334756;
    background-color: #25303f;
    border-radius: 5px;
    color: white;
}

#plot-form select:focus, #plot-form input[type="text"]:focus {
    outline: none;
    border-color: #FF4C29;
}

select > option:hover {
    background-color: #FF4C29;
  }

#plot-form button {
    background-color: #FF4C29;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    margin-bottom: 20px;
}

#plot-form button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(2px);
}

#plot-form button:active {
    background-color: #c93d21;
}

#plot-viewport {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#plot-viewport > img{
    margin-top: 5%;
    border: 2px solid #FF4C29;
    padding: 10px;
    width: 800px;
}

/* Scrollbar Styles */

#plot-body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#plot-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

#plot-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #082032;
    color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
}