/* INDEX.EJS */

body, h1, p, label, input, button, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(135deg, #f4f4f4, #e0e0e0);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

#error-message {
    color: #ff0000;
    background-color: #ffe6e6;
    padding: 10px;
    margin: 10px 0;
    border: 3px solid #ff0000;
    border-radius: 5px;
    display: none;
}

#success-message {
    color: #1ead02;
    background-color: #e6ffe8;
    padding: 10px;
    margin: 10px 0;
    border: 3px solid #1ead02;
    border-radius: 5px;
    display: none;
}

#intro {
    text-align: center;
    padding: 10px;
    background: linear-gradient(135deg, #FF4C29, #222831);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 5;
    flex-direction: column;
    overflow-y: auto; /* Add vertical scrollbar */
    max-height: calc(100vh - 230px); /* Adjust to leave space for header and footer */
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px; 
}

.input {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
    flex: 1;
    max-width: 400px;
}

.input:hover {
    background-color: #f0f0f0;
}

.input label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #4CAF50;
}

.input input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.input input[type="file"]:focus {
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
}

#submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

#submit-button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.hidden {
    display: none;
}

.input-container label[for="hasHeaders"] {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #4CAF50;
}

.input-container input[type="checkbox"]#hasHeaders {
    margin-left: 10px;
    transform: scale(1.2);
    vertical-align: middle;
}

#customHeaderContainer {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

#customHeaderContainer:hover {
    background-color: #f0f0f0;
}

#customHeaderContainer label[for="customHeaders"] {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #4CAF50;
}

.first-row-showcase {
    color: #555;
    font-weight: bold;
    font-size: 0.9em;
}

#csvExample {
    display: block;
    font-family: monospace;
    margin-top: 5px;
    color: #333;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

#customHeaders {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

#customHeaders:focus {
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
    outline: none;
    border-color: #4CAF50;
}






/* Sidebar */
#app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
}

#sidebar {
    width: 250px;
    min-width: 250px;
    background-color: #3E4A61;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.sidebar-header {
    text-align: center;
    margin-top: 20px;
}

.sidebar-header h2 {
    color: #FFD700;
    font-size: 24px;
    margin: 0;
}

.sidebar-tab {
    display: block;
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    background-color: #5A6B8C;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
    font-weight: 500;
}

.sidebar-tab:hover {
    background-color: #f0009c;
    transform: translateX(5px);
}

.sidebar-tab.active {
    background-color: #06e7e3;
    color: #1c50b2;
}







/* Chat Area */
#chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
}

#chat-header {
    text-align: left;
    padding-left: 20px;
    color: white;
    background: linear-gradient(135deg, #4CAF50, #45a049);
}

#chat-messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 248px);
    overflow-y: scroll;
    margin: 20px;
    margin-right: 0px;
    padding-right: 20px;
}

#chat-input-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

#chat-input {
    flex: 1;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#send-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

#send-button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.chat-message {
    margin-bottom: 15px;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.user-message {
    background-color: #4CAF50;
    color: white;
    align-self: flex-end;
    text-align: right;
    border-radius:  10px 10px 0px 10px;
    max-width: 45%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    flex-shrink: 1;
}


.response-message {
    background-color: white;
    color: black;
    align-self: flex-start;
    text-align: left;
    border-radius:  10px 10px 10px 0px;
    max-width: 45%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    flex-shrink: 1;
    
}

#chat-input-container input::placeholder {
    font-size: 16px;
}

#chat-input-container input:focus {
    outline: none;
    border-color: #4CAF50;
}






/* Database Area */
#database-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#database-header {
    text-align: left;
    padding-left: 20px;
    color: white;
    background: linear-gradient(135deg, #4CAF50, #45a049);
}

#database-name-container > p{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

#database-name-container > p > span{
    font-weight: bold;
}

/* Database Table Format */

/* Table container to allow scrolling */
#databaseTable {
    max-height: calc(100vh - 285px);
    max-width: calc(100vw - 320px);
    overflow: scroll;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}

#databaseTable table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

#databaseTable th, #databaseTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

#databaseTable th {
    background-color: #4CAF50;
    color: white;
    text-align: left;
}

#databaseTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#databaseTable tr:hover {
    background-color: #ddd;
}

#databaseTable td {
    text-align: left;
    white-space: nowrap;
}






/*  Plot Area   */
#content {
    padding: 20px;
    width: 70%; /* Adjust width as needed */
    margin: 0 auto; /* Center the content horizontally */
    background-color: #f0f0f0; /* Light gray background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    overflow-y: auto; /* Add vertical scrollbar */
    max-height: 500px; /* Limit height and enable scrolling if content exceeds */
}

#plot-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#plot-header {
    text-align: left;
    padding-left: 20px;
    color: white;
    background: linear-gradient(135deg, #4CAF50, #45a049);
}

#content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#plot-form {
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

#plot-form label {
    display: block;
    margin-bottom: 3px;
}

#plot-form select, #plot-form input[type="text"] {
    width: 100%; /* Adjust width as needed */
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#plot-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#plot-form button:hover {
    background-color: #0056b3;
}

#plot-container {
    margin-top: 10px;
}

#error-message {
    color: red;
    margin-top: 10px;
}






/* Scrollbar styles */
#databaseTable::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#databaseTable::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

#databaseTable::-webkit-scrollbar-thumb:hover {
    background: #555;
}






/* Pagination */
#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0;
}

#pagination a {
    margin: 0 10px;
    padding: 10px 15px;
    width: 75px;
    text-align: center;
    text-decoration: none;
    color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#pagination a:hover {
    background-color: #4CAF50;
    color: white;
}

#pagination span {
    margin: 0 10px;
    padding: 10px 10px;
    padding-left: 0px;
    color: #333;
}

#pagination form {
    margin-right: 10px;
}

#pageForm {
    display: inline-flex;
    align-items: center;
}

#pageInput {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

#pageInput:focus {
    outline: none;
    border-color: #4CAF50;
}

#pageForm button {
    background-color: #4CAF50;
    width: 50px;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

#pageForm button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}






/* FOOTER.EJS */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    -ms-overflow-style: none;
}





/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

#plot-container img {
    animation: fadeIn 0.5s ease-in-out;
}

.sidebar-tab {
    animation: slideIn 0.5s ease forwards;
    opacity: 0;
}

.sidebar-tab:nth-child(1) {
    animation-delay: 0.1s;
}

.sidebar-tab:nth-child(2) {
    animation-delay: 0.2s;
}

.sidebar-tab:nth-child(3) {
    animation-delay: 0.3s;
}
