/* INDEX.EJS */

body, h1, p, label, input, button, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(135deg, #f4f4f4, #e0e0e0);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

#error-message {
    color: #ff0000;
    background-color: #ffe6e6;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ff0000;
    border-radius: 5px;
    display: none;
}

#intro {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #4CAF50, #45a049);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1;
    flex-direction: column;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px; 
}

.input {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
    flex: 1;
    max-width: 400px;
}

.input:hover {
    background-color: #f0f0f0;
}

.input label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #4CAF50;
}

.input input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.input input[type="file"]:focus {
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
}

#submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

#submit-button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}


/* CHAT.EJS */

/* Sidebar */
#sidebar {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-header h2 {
    color: #4CAF50;
}

.sidebar-tabs {
    margin-bottom: 20px;
}

.sidebar-tab {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.sidebar-tab:hover {
    background-color: #e0e0e0;
}

#app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#sidebar {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-header h2 {
    color: #4CAF50;
}

.sidebar-content {
    overflow-y: auto;
    max-height: calc(100vh - 120px);
}


/* Chat Area */
#chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    padding-bottom: 40px;
}

#chat-header {
    text-align: center;
    margin-bottom: 20px;
}

#chat-messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 270px);
    overflow-y: auto;
    padding: 10px;
}

#chat-input-container {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 80px;
    left: 310px;
    right: 20px;
}

#chat-input {
    flex: 1;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    overflow: hidden;
}

#send-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

#send-button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.chat-message {
    margin-bottom: 15px;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.user-message {
    background-color: #4CAF50;
    color: white;
    align-self: flex-end;
    text-align: right;
    border-radius:  10px 10px 0px 10px;
    max-width: 45%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    flex-shrink: 1;
}


.response-message {
    background-color: white;
    color: black;
    align-self: flex-start;
    text-align: left;
    border-radius:  10px 10px 10px 0px;
    max-width: 45%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    flex-shrink: 1;
    
}

#chat-input-container input::placeholder {
    font-size: 16px;
}

#chat-input-container input:focus {
    outline: none;
    border-color: #4CAF50;
}


/* FOOTER.EJS */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
}


body {
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}